@using Microsoft.AspNetCore.Components.Web.Extensions.Head

<Title value="Shared UI project"></Title>
<Meta name="description" content="My Blazor Component" />
<Link rel="icon" type="image/x-icon" href="/favicon.ico" />
<Link rel="alternate" href="/feed.rss" type="application/rss+xml" />

<div class="my-component">
    This Blazor component is defined in the <strong>BlazorWASM.SharedUI</strong> package.
</div>
