@page "/"

@using Microsoft.AspNetCore.Components.Web.Extensions.Head

<Title Value="Blazor WASM Project"></Title>
<Meta name="description" content="My Blazor Project using Microsoft.AspNetCore.Components.Web.Extensions.Head" />
<Link rel="icon" type="image/x-icon" href="/favicon.ico" />
<Link rel="alternate" href="/feed.rss" type="application/rss+xml" />

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
