/* _content/BlazorWASM.SharedUI/SharedUITags.razor.rz.scp.css */
.my-component[b-t3yz3vrvwk] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
